# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

# Globs
*.xaml @moonheart08
*.xaml.cs @moonheart08

/Content.*/_ES/Masks/Masquerades/ @moonheart08
/Resources/Prototypes/_ES/Masquerades/ @moonheart08
/Resources/Prototypes/_ES/MaskSets/ @moonheart08
/Resources/Prototypes/_ES/Shaders/ @moonheart08
/Content.Client/_ES/UI/ @moonheart08
**/_Citadel @moonheart08
/Content.IntegrationTests/ @moonheart08
